/* HTML 5 Block Elements */
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/* General colour theme */
body {
  background-color: #000;
  font: 16px Helvetica, Arial;
  color: #fff;
}
div#content {
  margin: auto;
  width: 600px;
}
a img {
  border: none;
}
.tweet img {
  float: left;
  margin-bottom: 1ex;
  margin-right: 2ex;
}
.tweet {
  clear: both;
}
.username {
  font-weight: bold;
  margin-right: 2ex;
}
