/* HTML 5 Block Elements */
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/* General colour theme */
body {
  background-color: #000;
  font: 16px Helvetica, Arial;
  color: #fff;
}
.username {
  font-weight: bold;
  margin-right: 2ex;
}
