/* HTML 5 Block Elements */
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/* General colour theme */
body {
  background-color: #111;
  font: 0.8em Helvetica, Arial;
  color: #fff;
}
div#content {
  margin: auto;
  width: 700px;
}
@font-face {
  font-family: "chunk";
  src: url("/fonts/Chunkfive.otf") format("opentype");
}
h1 {
  font-family: "chunk";
  font-size: 4.0em;
  margin-bottom: 0.5ex;
}
h1 a {
  text-decoration: none;
}
#explanation {
  background-color: #333;
  border: 1px solid #666;
  color: #999;
  margin-bottom: 1em;
  padding: 1ex;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#explanation .sets {
  font-weight: normal;
}
a img {
  border: none;
}
a {
  color:#fff;
}
#recent {
  list-style: none;
  padding: 0;
}
.tweet img {
  float: left;
  height: 48px;
  margin-bottom: 1ex;
  margin-right: 2ex;
  width: 48px;
}
.tweet {
  clear: both;
  padding: 1ex;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.tweet:nth-child(odd) {
  background-color: #333;
}
.tweet:nth-child(even) {
  background-color: #222;
}
.tweetText {
  margin-right: 1.5ex;
}
.time {
  font-size: smaller;
  white-space: nowrap;
}
.fail,
.fail a {
  color: red;
}
.pass,
.pass a {
  color: #0f0;
}
.sets {
  color: yellow;
  font-weight: bold;
}
#userInput {
  margin-bottom: 2em;
}
.username {
  font-weight: bold;
  margin-right: 2ex;
}
.loading {
  background: white url('/images/loading.gif') right center no-repeat;
}
#userInput input,
#userInput button{
  font-size: 1.5em;
  padding: 0.3ex;
}
#username {
  margin-right: 1ex;
  width: 30ex;
}
#username.defaultText {
  color: #ccc;
}
#graph {
  margin-bottom: 4em;
  width: 700px;
  height: 250px;
}
.autoclear {
  clear: both;
}
